.rest-img {
  width: 350px;
  height: 250px;
  cursor: pointer;
}

.navbar {
  font-size: 2rem;
}

.appointment {
  position: relative;
}

.completedDiv {
  position: absolute;
  left: 10%;
  border: 5px solid red;
  color: red;
  width: 400px;
  font-size: 1.7rem;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.487);
}

@media (max-width: 500px) {
  .navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    font-size: 2.8rem;
  }

  .completedDiv {
    left: 0%;
    width: 500px;
    font-size: 0.9rem;
  }
}

@media (max-width: 1000px) and (min-width: 500px) {
  .rest-img {
    width: 220px;
    height: 200px;
  }
}
